//
//

@import './App.scss';

.sidebar {
  background-color: var(--slack-color);
  border-top: 1px solid #49274b;
  max-width: 260px;
  color: #fff;

  .sidebar__header {
    display: flex;
    border-bottom: 1px solid #49274b;
    padding-bottom: 10px;
    padding: 13px;

    .sidebar__info {
      flex: 1;

      h2 {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 5px;
      }

      h3 {
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 400;

        .MuiSvgIcon-root {
          color: green;
          font-size: 14px;
          margin-top: 1px;
          margin-right: 2px;
        }
      }
    }
  }

  .sidebar__header > .MuiSvgIcon-root {
    padding: 8px;
    font-size: 18px;
    color: #49274b;
    background-color: #fff;
    border-radius: 999px;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #49274b;
    // border: 10px solid #000;
  }
}
